<?php

    $check = __DIR__ . DIRECTORY_SEPARATOR . 'config.php';
    $local = (is_file($check) ? require $check : array());

    return $local + array(
        'db' => array(
            'host'  => 'localhost'
          , 'user'  => 'webuser'
          , 'pass'  => '89DScUNK4NHt6B4n'
          , 'name'  => 'intervue_ca'
          , 'class' => 'DB_MySQL'
        )
    );
